.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.numberOfLikes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    cursor: pointer;
}

.likes {
    list-style-type: none;
}

.likes li::before {
    content: '❤️';
}