@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 80%;
  margin-top: 34px;
  padding: 34px 34px 0 34px;
}

.loginDescription {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img,
.description {
  width: 50%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatars {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.submitButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  margin-bottom: 24px;
  color: red;
  font-size: 1.7vw;
}

.tips .title {
  color: #333;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.tips .body {
  font-family: "Poppins", sans-serif;
  color: #555;
  text-indent: 18px;
}

@media only screen and (max-width: 768px) {
  /* For smartphones and tablets: */
  .loginDescription {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img,
  .description {
    width: 100%;
  }

  .description {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 60px;
  }
}
